{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel='stylesheet' href = "{% static "CSS/style.css" %}">
    {% block header %}
    {% endblock header %}
</head>
<body>
    <div class = 'log_in_bar'>
        {% if request.user.is_authenticated %}
        <form action = {% url 'account:log_out' %} method = 'POST'>
            {% csrf_token %}
            <input type= 'submit' value = '로그아웃'>
        </form>

        <a href = '{% url 'account:out_membership' %}'>
            <button>회원탈퇴</button>
        </a>

        <a href = '{% url 'account:login_edit' %}'>
            <button>유저 정보 변경 </button>
        </a>
        {% else%}
        <a href = {% url 'first_page' %}>로그인</a>
        {% endif %}
    </div>
    <div class = 'container'>
        {% block contents %}
        {% endblock %}
    </div>
</body>
</html>