<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class = 'log_in_bar'>
        {% if request.user.is_authenticated %}
        <form action = {% url 'log_in_app:log_out' %} method = 'POST'>
            {% csrf_token %}
            <input type= 'submit' value = '로그아웃'>
        </form>
        {% else%}
        <a href = {% url 'first_page' %}>로그인</a>
        {% endif %}
    </div>
    <div class = 'container'>
        {% block contents %}
        {% endblock %}
    </div>
</body>
</html>